@import url(reset.css);

html,
body {
    height: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: rgba(176, 209, 255, 0.52);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}


.header {
  width: 100%;
}

.header_container {
  max-width: 90vw;
  display: flex;
  justify-content: space-between;
    align-items: center;
  margin: 0 auto;
}

.logo_container {
    margin: 20px 0 20px 0;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}


.nav_items {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 400px;
    
}

.main-menu_container {
    position: relative;
    cursor: pointer;
    border: 1px solid #000;
    width: 150px;
}

.main-menu {
    position: absolute;
    display: none;
}

.main-menu_button {
    padding: 10px;
    text-align: center;
}

.main-menu_container:hover .main-menu {
    display: block;
}


.main {
    flex: 1 1 auto;
}


.footer {

}