@model Helper.Web.Models.MessageModels.CreateMessageViewModel

@{
    ViewData["Title"] = "Створити";
}
<div class="create-edit-page_wrapper">
    <div class="page_header">
        <h1 class="page_title">Надіслати повідомлення</h1>
        <button class="button-back buttons">
            <a asp-controller="Home" asp-action="Index">
                назад
            </a>
        </button>
    </div>

    <form asp-controller="Message" asp-action="CreateMessage" method="post" class="form_container create-edit-form_container">
        @Html.AntiForgeryToken()
        <div class="input_container">
            <input type="hidden" asp-for="JobId"/>
            <label asp-for="Text" class="input_label create-message_title">Завдання: @Model.JobTitle (#@Model.JobId)</label>
            <textarea asp-for="Text" class="input_field" placeholder="Опишіть, чому саме ви. Та залиште контакти."></textarea>
            <span asp-validation-for="Text" class="text-danger"></span>
        </div>

        <div class="form-button_container">
            <button type="submit" value="Відправити" class="form_button-submit">Відправити</button>
        </div>
    </form>
</div>

