
<div class="all-jobs-page_wrapper">
    <div class="page_header">
        <h1 class="page_title">Мої завдання</h1>
        <button class="button-back buttons">
            <a asp-controller="Home" asp-action="Index">
                назад
            </a>
        </button>
    </div>
    <div class="all-jobs_container">

        <div>
            @await Html.PartialAsync("_CreatedJobs", ViewBag.CreatedJobs, null)
        </div>
           


        <div>
            @await Html.PartialAsync("_AssignedJobs", ViewBag.AssignedJobs, null)
        </div>
            
         

    </div>
</div>