@model JobViewModel

@{
    ViewData["Title"] = "Створити";
}

<div class="add-form">
    <form asp-controller="Job" asp-action="CreateJob" class="job-form">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label asp-for="JobModel.Title">Назва завдання</label>
            <input asp-for="JobModel.Title" class="input-job-name" placeholder="Вкажіть назву завдання"/>
            <span asp-validation-for="JobModel.Title" class="validation-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="JobModel.Description">Опис завдання</label>
            <textarea asp-for="JobModel.Description" class="input-job-name" placeholder="Сформулюйте завдання"></textarea>
            <span asp-validation-for="JobModel.Description" class="validation-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Категорія</label>
            <select asp-for="CategoryId" class="form-select input-job-category" asp-items="ViewBag.Categories">
                <option value="0" hidden>Категорія</option>
            </select>
            <span asp-validation-for="CategoryId" class="validation-error"></span>
        </div>
        <div class="form-group">
            <label asp-for="JobModel.Location">Місто</label>
            <input asp-for="JobModel.Location" class="input-job-name" placeholder="Вкажіть місце виконання завдання"/>
            <span asp-validation-for="JobModel.Location" class="validation-error"></span>
        </div>


        <button type="submit" class="btn btn-outline-primary">Створити</button>

    </form>
</div>