@model EditJobViewModel

<h2>Редагувати завдання</h2>

<form asp-action="EditJob" method="post">
    <div class="form-group">
        <label asp-for="Title">Назва завдання</label>
        <input asp-for="Title" class="input-job-name" placeholder="Вкажіть назву завдання"/>
        <span asp-validation-for="Title" class="validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Опис завдання</label>
        <textarea asp-for="Description" class="input-job-name" placeholder="Сформулюйте завдання"></textarea>
        <span asp-validation-for="Description" class="validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId">Категорія</label>
        <select asp-for="CategoryId" class="form-select input-job-category" asp-items="ViewBag.Categories">
            <option value="0" hidden>Категорія</option>
        </select>
        <span asp-validation-for="CategoryId" class="validation-error"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location">Місто</label>
        <input asp-for="Location" class="input-job-name" placeholder="Вкажіть місце виконання завдання"/>
        <span asp-validation-for="Location" class="validation-error"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Зберегти" class="btn btn-primary" />
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Назад</a>

    </div>

</form>
<form asp-action="DeleteJob" method="post" class="mt-3">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Видалити" class="btn btn-danger" />
</form>
