<footer class="footer">
    <div class="footer_container">
        <div class="footer_content">
            &copy; 2024 - Олександр Карпінський, <a class="header_links" href="https://ztu.edu.ua/">Житомирська політехніка</a>
        </div>
    </div>
</footer>