<header class="header">
    <nav class="header_container">
        <div class="logo_container">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">Helper</a>
        </div>
        
        <div class="navbar">
            <div class="nav_items">
                @if (User.Identity!.IsAuthenticated)
                {
                    <button class="main-menu_button">
                        <a asp-controller="Job" asp-action="CreateJob">Нове оголошення</a>
                    </button>
                    
                    <div class="main-menu_container">
                        <button class="nav_link main-menu_button">Привіт, @User.Identity.Name!</button>
                        <ul class="main-menu">
                            <li class="main-menu_item">
                                <a asp-controller="Account" asp-action="Profile">Профіль</a>
                            </li>
                            <li class="main-menu_item">
                                <a asp-controller="Job" asp-action="AllJobs">Оголошення</a>
                            </li>
                            <li class="main-menu_item">
                                <a asp-controller="Account" asp-action="Logout">Вийти</a>
                            </li>
                        </ul>
                    </div>

                }
                else
                {
                    <a class="nav_link" asp-controller="Account" asp-action="Login">Увійти</a>
                    <a class="nav_link" asp-controller="Account" asp-action="Register">Реєстрація</a>
                }
            </div>
        </div>
    </nav>
</header>

