@{
    var isAdmin = ViewData["IsAdmin"] as string;
}

<header class="header">
    <nav class="header_container">
        <div class="header_left-side">
            <div class="logo_container">
                <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">Helper!</a>
            </div>
            @if (User.Identity!.IsAuthenticated && isAdmin != null)
            {
            <button class="header_links">
                <a asp-controller="Admin" asp-action="AdminPage">Панель керування</a>
            </button>
            }
        </div>

        <div class="navbar">
            <div class="nav_items">
                @if (User.Identity!.IsAuthenticated)
                {
                    <button class="header_links">
                        <a asp-controller="Job" asp-action="CreateJob">Нове оголошення</a>
                    </button>

                    <div class="main-menu_container">
                        <ul class="main-menu">
                            <span class="main-menu_greeting">Привіт, <span class="main-menu_username" title="@User.Identity.Name"> @User.Identity.Name</span> !</span>
                            <div class="main-menu_items">
                                <li class="main-menu_item">
                                    <a asp-controller="Account" asp-action="Profile">Профіль</a>
                                </li>
                                <li class="main-menu_item">
                                    <a asp-controller="Job" asp-action="AllJobs">Мої завдання</a>
                                </li>
                                <li class="main-menu_item">
                                    <a asp-controller="Account" asp-action="Logout">Вийти</a>
                                </li>
                            </div>

                        </ul>
                    </div>
                }
                else
                {
                    <div class="login_links">
                        <a class="header_links login_link" asp-controller="Account" asp-action="Login">Увійти</a>
                        <a class="header_links login_link" asp-controller="Account" asp-action="Register">Реєстрація</a>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>