<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Helper</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Helper</a>
                </div>
            </nav>
        </header>

            <main class="main" class="pb-3">
                @RenderBody()
            </main>


        <footer class="footer">
            <div class="container">
                &copy; 2024 - Helper.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
